.review{
    display:flex;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 10px;
    height: fit-content;
}
.user{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    width: fit-content;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content:center;
    padding-right: 10px;
}
.rating{
    margin-bottom: 2px;
}