.review {
  display: flex;
  flex-direction: column;
  width: 36vw;
  box-shadow: 1px 1px 13px var(--background-color);
  height: fit-content;
}
.info {
  display: flex;
  justify-content: space-between;
}
.user {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 1vw;
  /* width: 100%; */
}
.name_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name {
  margin-bottom: 0;
  margin-top: 1vh;
  margin-left: 2vw;
  font-weight: bold;
}
.date {
  margin-top: 2px;
  margin-left: 2vw;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  margin-left: 1vw;
  padding-right: 1vw;
}
.rating {
  margin-right: 1vw;
}
