.list {
  list-style: none;
  display: inline-block;
  margin: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--medium-color);
}
.ul {
  margin-right: 75px;
}

a {
  color: var(--bright-color);
  text-decoration: none;
}
