.review{
    display:flex;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 10px;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 25px;
}
.text{ 
    padding-right: 10px;
    margin-left: 10px;
}
.rating{
    margin-bottom: 2px;
}

.topRow{
    display: flex;
    justify-content: space-between;
   
}
.cuisines{
    margin: 15px;
    font-size: 1.2rem;
}
.a{
    display: flex;
    margin-left: 10px;
    text-align: center;
}