.review{
    display:flex;
    justify-content: space-around;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 10px;
    height: fit-content;
    flex-direction: column;
    margin-left: 20px;
}
.text{ 
    padding-right: 10px;
}
.rating{
    margin-bottom: 2px;
}

.topRow{
    display: flex;
    justify-content: space-between;
   
}
.a{
   display: flex;
}

@media screen and (max-width:1200px){
.review{
    width: 355px;
}
}
@media screen and (max-width:930px){
    .review{
        width:300px;
    }
}
@media screen and (max-width:800px){
    .review{
        width:400px;
    }
}

@media screen and (max-width:775px){
    .review{
        width: 350px;
        margin-left:20px;
    }
}
@media screen and (max-width:550px){
    .review{
        width: 350px;
        margin-left:20px;
    }

}


