.container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.restaurantInfo {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.address_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-family: var(--input-font);
  font-size: 13px;
  line-height: 15px;
}
.address_icons p,
h3 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
}

.address {
  margin-right: 3vw;
  padding: 10px;
  text-align: justify;
}
.icons {
  text-align: center;
}
.container3 {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.tag {
  display: inline-block;
  margin: 8px;
  background-color: #bfc0c0;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.button {
  height: fit-content;
  align-self: center;
  font-size: 1rem;
  padding: 2.5px 5px;
  background-color: var(--medium-color);
  color: var(--bright-color);
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  border: none;
}
.description {
  margin-top: 10px;
  width: 90%;
  text-align: justify;
  font-family: var(--input-font);
  font-size: 13px;
  line-height: 15px;
}

.restauranteImage {
  width: 90%;
  margin: auto;
  max-height: 260px;
  box-shadow: 1px 1px 6px var(--background-color),
    -1px -1px 6px var(--background-color);
}

.itemC {
  max-height: 260px;
  object-fit: fill;
}

.reviews {
  margin-bottom: 5vh;
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
  width: fit-content;
}

.centeredContainer {
  width: 60%;
  margin: auto;
  padding: 15px;
  min-height: 100vh;
  border-left: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
}

.tittle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.restoName {
  font-family: var(--important-font);
  text-transform: capitalize;
  color: var(--dark-color);
  font-size: 35px;
}

.checks {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  padding-bottom: 15px;
  font-family: var(--input-font);
  font-size: 13px;
  line-height: 15px;
}

.reservationsContainer {
  height: 520px;
  overflow-y: scroll;
}

.reservationsContainer::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: var(--medium-color);
}

.reviewsContainer {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 520px;
  overflow-y: scroll;
}

.reviewsContainer::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: var(--medium-color);
}
.option{
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.option:hover{
  background-color:#f0ede0;
  cursor: pointer;    
}