.container{
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: solid black 2px;
    margin: 10px;
    display: inline-block;
    float: left;
}
.line{
   
    justify-content: space-evenly;
}