.review{
    display:flex;
    justify-content: space-around;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 10px;
    height: fit-content;
    margin-left: 20px;
}
.user{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    width: fit-content;
}
.text{
    display: inline-block;
   
    padding-right: 10px;
}
.rating{
    margin-bottom: 2px;
}

.bookings{
    display:block;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 100px;
    height: fit-content;
    margin-left: 20px;
}
.favorites{
    display:block;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 100px;
    height: fit-content;
    margin-left: 20px;
}
.reviews{
    display:block;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 50px;
    height: fit-content;
    margin-left: 20px;
    }
.res{
    width: 50%;
    margin: 0px;
}
.btn {
    margin: auto;
    color: black;
  }
  