.review{
    display:flex;
    justify-content: space-around;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 10px;
    height: fit-content;
    margin-left: 20px;
}
.user{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    width: fit-content;
}
.text{
    display: inline-block;
   
    padding-right: 10px;
}
.rating{
    margin-bottom: 2px;
}

.bookings{
    display:block;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 50px;
    height: fit-content;
    margin-left: 20px;
}
.favorites{
    display:block;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 100px;
    height: fit-content;
    margin-left: 20px;
}
.reviews{
    display:block;
    width: 45vw;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 13px rgb(197, 196, 196);
    margin-top: 50px;
    height: fit-content;
    margin-left: 20px;
    }
.res{
    width: 50%;
    margin: 0px;
}
.btn {
    margin: auto;
    color: black;
  }
  

.container{
    display: flex;

}
.centeredContainer {
    width: 60%;
    margin: auto;
    padding: 15px;
    min-height: 100vh;
    border-left: 2px solid var(--background-color);
    border-right: 2px solid var(--background-color);
  }
.option{
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.option:hover{
    background-color:#f0ede0;
    cursor: pointer;    
}
.reservationsContainer {
    height: 520px;
    overflow-y: scroll;
  }
  .reservationsContainer::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background-color: var(--medium-color);
  }
  .reviewsContainer {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 520px;
    overflow-y: scroll;
  }
  
  .reviewsContainer::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background-color: var(--medium-color);
  }
  