.logo {
    height: 60px;
    margin-left: 10px;
    border-radius: 50%;
  }
  .mainNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    min-height: 80px;
  }
  .navlinks{
    text-decoration: none;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--light-color);
    margin-left: 0px;
  
   }