.selectOptions {
    display: inline-block;
    width: 275px;
  }

  .inputContainer {
    width: 500px;
    text-align: left;
    margin-top: 5px;
  }
  
  .inputText {
    width: 150px;
    display: inline-block;
  }

  .errors {
    color: red;
    font-size: 12px;
    font-style: italic;
  }
  .inputTextarea{
    margin-top: 10px;
  }
  .box{
    margin-top: 50px;
    border: solid black 4px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }