body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white-color: #fff;
  --background-color: #f0ede0;
  --medium-color: #8aa899;
  --bright-color: #f2d349;
  --dark-color: #5c6e58;
  --error-color: #d34141;
  --grey-color: #3f3e3e;
  --logo-font: "Zen Kurenaido", sans-serif;
  --cursive-font: "Qwigley", cursive;
  --important-font: "Ubuntu", sans-serif;
  --input-font: "Raleway", sans-serif;
}